# GA Data Science (DAT18) - Lab 13
## Pair Programming

### Heart Disease Dataset
ref: [https://archive.ics.uci.edu/ml/datasets/Heart+Disease](https://archive.ics.uci.edu/ml/datasets/Heart+Disease)

#### Features

    Dataset has 76 total attributes - 14 attributes are used:
    1. #3 (age)
    2. #4 (sex)
    3. #9 (cp)
    4. #10 (trestbps)
    5. #12 (chol)
    6. #16 (fbs)
    7. #19 (restecg)
    8. #32 (thalach)
    9. #38 (exang)
    10. #40 (oldpeak)
    11. #41 (slope)
    12. #44 (ca)
    13. #51 (thal)
    14. #58 (num) (the predicted attribute - 0 is healthy and 1,2,3,4 indicate heart disease)

In [48]:
heart_disease_file = '../data/heart_disease.csv'

### Class Exercise: Implement Random Forest

#### Import the dataset into a pandas dataframe:

Note: You'll have to manually add column labels

In [49]:
import pandas as pd
hd= pd.read_csv(heart_disease_file,names=['Age','Sex','CP','trestbps','chol','fbs','restecg','thalach','exang','oldpeak',
                                             'slope','ca','thal','num'])

#### Prepare and validate the data:

Investigate the data and check for missing values - we've used .info() before:

In [50]:
hd.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 303 entries, 0 to 302
Data columns (total 14 columns):
Age         303 non-null float64
Sex         303 non-null float64
CP          303 non-null float64
trestbps    303 non-null float64
chol        303 non-null float64
fbs         303 non-null float64
restecg     303 non-null float64
thalach     303 non-null float64
exang       303 non-null float64
oldpeak     303 non-null float64
slope       303 non-null float64
ca          303 non-null object
thal        303 non-null object
num         303 non-null int64
dtypes: float64(11), int64(1), object(2)
memory usage: 35.5+ KB

#### Clean the data to ensure it can be used in a random forest algorithm

In [51]:
hd_ca = hd.ca

In [52]:
mean_ca = hd_ca[hd_ca!= '?'].astype(float).mean()

In [53]:
mean_ca_str = str(mean_ca)
hd['ca'].replace('?',mean_ca_str, inplace=True)

In [54]:
hd.ca = hd.ca.astype(float)

In [55]:
hd_thal = hd.thal
mean_thal = hd_thal[hd_thal!='?'].astype(float).mean()
mean_thal_str = str(mean_thal)
hd['thal'].replace('?',mean_thal_str, inplace=True)

In [56]:
hd.thal = hd.thal.astype(float)

#### Select Features and convert Target to Boolean Class for Heart Disease (i.e., values 1, 2, 3 and 4 all indicate heart disease)

In [57]:
hd.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 303 entries, 0 to 302
Data columns (total 14 columns):
Age         303 non-null float64
Sex         303 non-null float64
CP          303 non-null float64
trestbps    303 non-null float64
chol        303 non-null float64
fbs         303 non-null float64
restecg     303 non-null float64
thalach     303 non-null float64
exang       303 non-null float64
oldpeak     303 non-null float64
slope       303 non-null float64
ca          303 non-null float64
thal        303 non-null float64
num         303 non-null int64
dtypes: float64(13), int64(1)
memory usage: 35.5 KB

In [58]:
hd.head()

,Age,Sex,CP,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,num
0,63,1,1,145,233,1,2,150,0,2.3,3,0,6,0
1,67,1,4,160,286,0,2,108,1,1.5,2,3,3,2
2,67,1,4,120,229,0,2,129,1,2.6,2,2,7,1
3,37,1,3,130,250,0,0,187,0,3.5,3,0,3,0
4,41,0,2,130,204,0,2,172,0,1.4,1,0,3,0

In [60]:
hd['num'].replace([2,3,4],1, inplace=True)

In [61]:
cols=['Age','Sex','CP','trestbps','chol','fbs','restecg','thalach','exang','oldpeak',
                                             'slope','ca','thal']
features = hd[cols]
labels = hd['num']

In [ ]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
features_scaled = scaler.fit_transform(features)

#### Build the model and score with cross-validation

In [ ]:
from sklearn

#### How important are the various features?

#### Plot Feature importances

#### Bonus: Repeat the classification with Support Vector Machine