In [1]:
import pandas as pd
import datetime as dt

## Warmup: Working With Datetimes

In [2]:
df = pd.read_csv('warmup_data.csv')
df.head()

  trip_date  searches
0    7/1/14       715
1    7/2/14       733
2    7/3/14       832
3    7/4/14      1211
4    7/5/14      1321

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 365 entries, 0 to 364
Data columns (total 2 columns):
trip_date    365 non-null object
searches     365 non-null int64
dtypes: int64(1), object(1)
memory usage: 8.6+ KB

### Exercise 1:
- Convert the date column to datetime
- Bonus: do it in one line!

In [4]:
#Your code here
x = '7/4/14'
dt.datetime.strptime(x, '%m/%d/%y')
df.trip_date = df.trip_date.apply(lambda x: dt.datetime.strptime(x, '%m/%d/%y'))

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 365 entries, 0 to 364
Data columns (total 2 columns):
trip_date    365 non-null datetime64[ns]
searches     365 non-null int64
dtypes: datetime64[ns](1), int64(1)
memory usage: 8.6 KB

### Exercise 2: 
- Find the total searches between 12/25/14 and 1/3/15

In [6]:
#your code here
date_filter = pd.date_range('2014-12-25','2015-01-03')
df  = df[(df.trip_date > '2014-12-25') & (df.trip_date < '2015-01-03')]

### Exercise 3: 
- Did Saturdays or Sundays have more total searches in January?

In [7]:
#your code here
df.trip_date.apply(lambda x:x.weekday())

178    4
179    5
180    6
181    0
182    1
183    2
184    3
185    4
Name: trip_date, dtype: int64